<!--送礼人头像-->
<div ng-if="order.receivers.length == 1 && order.receivers[0].telephone">
	<div class="head-center">
	    <img ng-src="{{order.sender.info.headimgurl}}" /><br />
	    <span>{{order.sender.info.nickname}}的礼物</span>
	</div>
	<div class="head head-logo">
	    <img class="icon-img" src="https://img.91pintuan.com/songli/i.png">
	    <!--<p class="center-mini-text">您购买的礼物已经填写收货信息，等待商家发货吧～</p>-->
	</div>
</div>
<!--[送礼人-公众号]再次打开时-->
<div ng-if="order.receivers.length == 1 && order.receivers[0].telephone" class="message-block top1 content content1">
  <form class="form-horizontal">
      <!--<input ng-disabled="true" class="input-msg input-msg1 form-text" type="text" name="consignee" placeholder="收礼人姓名" ng-model="order.receivers[0].consignee">
      <input ng-disabled="true" class="input-msg input-msg1 form-text" type="tel" name="telephone" placeholder="手机号码" ng-model="order.receivers[0].telephone">
      <textarea ng-disabled="true" rows="2" name="address" style="height:6em" class="input-msg input-msg1 form-textarea" ng-model="order.receivers[0].address"></textarea>-->
	<div class="content content1">
		<p class="receive-info info1">礼物已被领取</p>
		<p class="receive-info info2">等待商家发货</p>
	</div> 
	<div class="content content1 cont-info cont-bottom">
		<p><label>收礼人: </label><span>{{ order.receivers[0].consignee }}</span></p>
		<p><label>手机号: </label><span>{{ order.receivers[0].telephone }}</span></p>
		<p><label>地&nbsp;&nbsp;&nbsp;&nbsp;址: </label><span>{{ order.receivers[0].address }}</span></p>
	</div>
    <div class="footer-btn">
        <a ui-sref="gift.list" class="button">继续送礼</a>
		<br/>
		<icon-href theme="white"></icon-href>
    </div>
  </form>
</div>

<!--送礼人头像-->
<div ng-if="order.receivers.length == 1 && !order.receivers[0].telephone">
	<div class="head-center">
	    <img ng-src="{{order.sender.info.headimgurl}}" />
	</div>
	<div class="head head-logo">
	    <img class="icon-img" src="https://img.91pintuan.com/songli/i.png">
	    <p class="center-mini-text">支付成功，请填写收礼人的收货信息。不知道地址可以直接也发给对方填写哦</p>
	</div>
</div>

<form class="form-horizontal" name="giftAddrForm" novalidate ng-submit="saveAddr()" >
    <div ng-if="order && order.receivers && order.receivers.length && !order.receivers[0].telephone" class="message-block content content1">
      <input class="form-text" type="text" name="consignee" placeholder="收礼人姓名" ng-model="address.consignee" ng-maxlength="20" required>
      <p ng-show="giftAddrForm.consignee.$error.maxlength && submitted" class="help-block">* 收货人字数太多.</p>
      
      <input class="form-text" type="tel" name="telephone" placeholder="手机号码" ng-model="address.telephone" required phone>
      <p ng-show="giftAddrForm.telephone.$invalid && submitted" class="help-block">* 请输入有效的手机号码.</p>
      
      <textarea rows="2" name="address" style="height:6em" class="form-textarea" placeholder="请留下详细收货地址，确保能收到礼物" ng-model="address.address" ng-maxlength="500" required></textarea>
      <p ng-show="giftAddrForm.address.$error.required && submitted" class="help-block">* 请输入收货人的详细地址.</p>
      <p ng-show="giftAddrForm.address.$error.maxlength && submitted" class="help-block">* 配送地址字数太多.</p>
      
      <button type="submit" class="button btn-comm btn-wc btn-green">完成</button>
      <button class="button btn-comm btn-share btn-yellow"  ng-click="share()">不知道地址，发给好友填写</button>
	  <br>
    </div>
	<div style="position: fixed; left: 0px; bottom: 0px;width:100%;">
	  <icon-href theme="white"></icon-href>
	</div>
</form>
