<!--[送礼人]: 已收礼-->
<div ng-if="order.receivers.length == 1 && order.receivers[0].telephone" class="one-address">
  <img class="icon-img" src="https://img.91pintuan.com/songli/i.png">
  <div class="greyBox"></div>
  <!--送礼人头像-->
  <div class="head-center">
    <img ng-src="{{order.sender.info.headimgurl}}" />
  </div>
  <div class="blackBox"></div>
  <div class="head-nickname">
    <span>{{order.sender.info.nickname}}的礼物</span><br />
  </div>
</div>
<!--[送礼人-公众号]再次打开时-->
<div ng-if="order.receivers.length == 1 && order.receivers[0].telephone" class="message-block">
  <form class="form-horizontal">
      <!--<input ng-disabled="true" class="input-msg input-msg1 form-text" type="text" name="consignee" placeholder="收礼人姓名" ng-model="order.receivers[0].consignee">
      <input ng-disabled="true" class="input-msg input-msg1 form-text" type="tel" name="telephone" placeholder="手机号码" ng-model="order.receivers[0].telephone">
      <textarea ng-disabled="true" rows="2" name="address" style="height:6em" class="input-msg input-msg1 form-textarea" ng-model="order.receivers[0].address"></textarea>-->
  	<div class="state-info">
  		<span>礼物已被领取</span>
  		<span>等待商家发货</span>
  	</div> 
  	<div class="pre-info">
  		<div><span>收礼人：</span><span>{{ order.receivers[0].consignee }}</span></div>
  		<div><span>手机号：</span><span>{{ order.receivers[0].telephone }}</span></div>
  		<!--物流-->
  		<div ng-if="order.receivers[0].address">
  		  <span>地&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
  		  <span>{{ order.receivers[0].address }}</span>
  		</div>
  		<!--门店-->
  		<div ng-if="order.receivers[0].poi">
  		  <span>门店地址：</span>
  		  <span>{{ order.receivers[0].poi.base_info.business_name +  order.receivers[0].poi.base_info.address}}</span>
  		</div>
  	</div>
	
    <div class="footer-btn">
        <a ui-sref="gift.list" class="btn-receive button-success btn-logistic">继续送礼</a>
    </div>
  </form>
</div>

<!--【成功】购买礼物-->
<div ng-if="order.receivers.length == 1 && !order.receivers[0].telephone" class="gift-purchase">
  <!--【门店场景】-->
  <div ng-if="order.gift.scene === 'poi' ">
    <img class="icon-img" src="https://img.91pintuan.com/songli/i.png">
  	<div class="greyBox"></div>
    <!--送礼人头像-->
    <div class="head-center">
      <img ng-src="{{order.sender.info.headimgurl}}" />
    </div>
    <div class="blackBox"></div>
    <div class="pre-main">
      <div class="head-sender">
        <span>{{order.sender.info.nickname}}的礼物</span><br />
      </div>
      <div class="head-prompt">
        <span>已购买成功</span><br />
        <span>开始送礼吧</span>
      </div>
      <div class="head-content">
        <p class="receive-present-text">您已经成功购买1份{{order.gift.info.name}}；自己领取或转发送给朋友。</p>
        <a href="#" ng-click="share()" class="button btn-bg btn-fr">送给朋友</a>
      </div>
    </div>
  </div>
  
  <!--【物流场景】-->
	<order-receive
		order="order"
		address="address"
		is-share="true"
		poi-disabled="true">
	</order-receive>
	<!--<div ng-if=" order.gift.scene === 'logistics' ">
	  <a href="#" ng-click="share()" class="button btn-bg btn-fr">送给朋友</a>
	</div>-->

</div>
<div class="icon-hrer">
	<icon-href theme="white"></icon-href>
</div>
