body{
    margin: 0; 
    font-family: Helvetica !important;
}
//body的背景色
.bgcolor1{background-color: #F2F2F2;}  //礼物列表
.bgcolor2{background-color: #8FC31F;}  //送礼人，收礼人，
.bgcolor3{background-color: #FFFFFF;}  //礼物列表
.container{
    border-radius: 4px;
    position:relative;
    background-color: #FFFFFF;
    margin: 25px 23px 0 23px;
    padding: 70px 5px 5px 5px;
}
input,textarea,button{
    -webkit-appearance:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
textarea{resize:none;}
.clear{clear:both;}
.content{background-color:#F7F7F7;padding:0 4%;padding-bottom: 30px;}
#shade{width:100%;position:fixed;top:0;left:0;z-index:100;
       filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;
       height:100%;background-color: #000000;display: none;
}
.fill-out-describe{margin-top: 25px;text-align:left;}

.form-friend{margin-top: -70px;}
.container-status{background: #F7F7F7;}
.receive-present-text{margin-top: 30px;font-size: 14px;color:#646464;}
/*右上角图标*/
.icon-img{position: absolute;right:-17px;top: -17px;width:34px;}    
/*头像*/
.head-center{text-align:center;height: 55px;background: #F7F7F7;}
.center-name{font-size: 14px;text-align:center;}
.head-center span{font-size: 15px;text-align: center;color: #B5B5B6;margin-top: 9px;display: block;}
.head-center img{border-radius: 100%;width:67px;height: 67px;border: 2px solid #FFFFFF;margin-top: -45px;}
    /*礼物个数*/
.head-title-green{text-align:center;height: 90px;}
.left-count{color: #231815;font-size: 22px;}
.left-all{font-size: 23px;margin-bottom: 0;}
.head-send-status{color: #8FC31F;font-size: 15px;margin-top: -12px;}
.send-gift-text,.receive-present-text{color:#919191;font-size: 16px;line-height: 20px;padding-left: 5px;margin-top: 0;margin-bottom: 0;}

.address{margin-top: 12px !important;}
#start-send-present{margin-bottom: 16px}
.receive-btn{background-color: #FFFFFF;padding: 30px 6%;}
/**收礼弹窗*/
.black_overlay{position: absolute;top: 0;left:0;z-index:100;height:100%;width:100%;
    display:none;background-color: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
#thank-box{position: absolute;bottom:0;left:0;width:100%;z-index:101;display:block;
    transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;}
/*form*/
.form-text,.form-textarea{
    background-color:#FFFFFF;  
    border:1px solid #E5E6E6; 
    font-size:14px;
    box-sizing: border-box;  
    width:100%;  
    margin-top: 9px;  
    padding:8px;  
    display: block;
}
.form-text{height:45px; text-align:center;}
/*[送一人] - 地址填写页面*/
.head-logo{
    background: #F7F7F7;
    margin-top: -15px;
    padding: 0 8%;
    padding-bottom: 15px;
}
.head-logo .center-mini-text,.head-fillin .center-mini-text{
    font-size:14px;
    margin-bottom:8px;
    color:#231815;
    line-height: 20px;
    text-align:left;
}
.content1{
    padding: 0 8%;
    padding-bottom: 30px;
    margin-top: -10px;
}
.content-top{padding-top: 28px;}
.cont-onetop{margin-top: -15px;}
.head-fillin{
    padding: 0 8%;
    background: #FFFFFF;
    margin-top: 50px;
    padding-bottom: 16px;
}
.text-color{color: #898989 !important;}
/*[送一人] 礼物已被领取,再次点击页面*/
.receive-info{text-align: center;font-size: 22px;color: #231815;line-height: 0;}
.info1{margin-top: 50px;}
.info2{margin-top: 30px;}
.cont-info{
    color: #B7BDCB;
    font-size: 15px;
    padding-left: 26px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 80px;
}
.cont-info p{
    display: block;
    padding: 0;
    margin: 8px 0 0 0;
}
/*[按钮] --样式--*/
.button{
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    height: 45px;
    padding: 0 10px;
    margin: 0;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-bg{
    width: 286px !important;
    height: 45px !important;
    background: #8FC31F;
    color: #FFFFFF;
    border-radius: 4px;
    display: block !important;
    margin: 0 auto !important;
    margin-top: 45px !important;
}
.btn-no{background: #B5B5B6;}
.footer-btn{position: fixed;left: 0px;bottom:20px;width:100%;}
.footer-btn .button{
    width:286px !important;
    background-color:#B0D562;
    color: #FFF;
    margin: 0 auto;
    display: block;
    border:0;
    border-radius: 4px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.btn-comm{
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 12px !important;
}
.btn-wc {background: #8FC31F;}
.btn-share {background: #F39800;}
    /*已领取礼物按钮*/
.button-done{
    background: #B5B5B6 !important;
    border-radius: 4px;
    width: 286px !important;
    height: 45px !important;
    display: block !important;
    margin: 0 auto !important;
    margin-top: 45px !important;
}

//单人礼物已被领取
.top1{padding-top: 1px;}
.cont-bottom{padding-bottom: 50px;padding-left: 0 !important;}
