<!-- 送一个人 -->
<div class="address-from-friend" ng-show="order.capacity == 1">
  
  <!-- 没被领取 -->
  <order-pre-receive
    ng-if="(!order.receivers || !order.receivers.length || !order.receivers[0].telephone)"
    order="order"
    fill="fill"
    interact="false"
    share="share"
  >
  </order-pre-receive>

  <!--[送礼人] [收礼人] 已被领取 再次打开 -->
  <order-received-guide
    ng-if="order.receivers[0].telephone && isReceived"
    scene="order.receivers[0].scene"
    order="order">
  </order-received-guide>
  
  <!-- [收礼人] 打开 但是已被他人领取 --> 
  <!--宁宁修改  直接跳到结果页面了    (之前是 order-pre-receive) -->
  <order-received-guide
    ng-if="order.receivers[0].telephone && !isReceived"
    order="order"
    fill="fill"
    interact="false"
  >
  </order-received-guide>
</div>

<!-- 送多个人 -->
<div ng-if="order.capacity > 1 && !isSender">
  <!-- 【收礼人】:还没有收礼，而且有余 -->   
  <div class="receive-present" ng-if="orderStatus == 1">
    <order-pre-receive
      order="order"
      fill="fill"
    >
    </order-pre-receive>
  </div>
  <!-- 【收礼人】：已经收礼品了  -->   
  <div class="open-link-end" ng-if="(orderStatus == 10) || (orderStatus == 11)">
    <order-received-guide
      order="order"
      fill="fill"
    >
    </order-received-guide>
  </div>
  <!-- 【收礼人】:还没有收礼，但是礼物已经没有了   -->
  <div class="open-link-end" ng-if="!isSender && orderStatus == 0">
    <order-pre-receive
      order="order">
    </order-pre-receive>
  </div>
    <!-- 【送礼人】:打开链接，还有礼物  
    <div class="open-link" ng-if="(orderStatus == 101) || (orderStatus == 111)">
    </div> -->

    <!-- 【送礼人】:打开链接，已经送光了   
    <div class="open-link-end" ng-if="(orderStatus == 100) || (orderStatus == 110)">
    </div> -->
</div>
