<!-- 送一个人 -->
<div class="address-from-friend" ng-show="order.capacity == 1">
  <!-- 没被领取 -->
  <div
    ng-if="!order.receivers || !order.receivers.length || !order.receivers[0].telephone" 
    ng-include="'app/gift/order/order.pre.receive.html'">
  </div>

  <!--[收礼人] 已被领取 再次打开 -->
  <order-received 
    ng-if="order.receivers && order.receivers.length && order.receivers[0].telephone"
    order="order">
  </order-received>
</div>

<!-- 送多个人 -->
<div ng-if="order.capacity > 1">
    <!-- 【收礼人】:还没有收礼，而且有余 -->   
    <div class="receive-present" ng-if="orderStatus == 1">
      <div ng-include="'app/gift/order/order.pre.receive.html'"></div>
    </div>
    <!-- 【收礼人】：已经收礼品了  -->   
    <div class="open-link-end" ng-if="(orderStatus == 10) || (orderStatus == 11)">
      <order-received-guide
          order="order">
      </order-received-guide>
    </div>
    
    <!-- 【送礼人】:打开链接，还有礼物  
    <div class="open-link" ng-if="(orderStatus == 101) || (orderStatus == 111)">
        <div class="container-status">
        	
            <img class="icon-img" src="https://img.91pintuan.com/songli/i.png" />
        	
            <div class="head-center">
                <img ng-src="{{order.sender.info.headimgurl}}" /><br/>
                <span>{{order.sender.info.nickname}}的礼物</span>
            </div>
            
            <div class="head-main head-title-green">
            	<p class="left-count">
            		还有{{orderSurplus}}份
            	</p>
                <p class="head-send-status">
                    {{order.capacity - orderSurplus}}人已领取
                </p>
            </div>
        	
            <div class="content">
            	<p class="receive-present-text">
            		已有{{order.capacity - orderSurplus}}人领取你的礼物,还有{{orderSurplus}}份礼物,继续送礼吧~
        		</p>
        		<a ng-click="shareAsSender()" id="start-send-present" class="button button-action">继续送礼</a>
            </div> 
            
            <div ng-if="order.receivers && order.receivers.length" class="interact">
                <p>{{ order.receivers.length }}人已领取</p>
                <ul>
                    <li ng-repeat="receiver in order.receivers">
                        <img ng-src="{{receiver.headimgurl}}"/>
                        <span class="receiver-name">{{ receiver.name || receiver.consignee }} </span>
                    	<span class="font"> 已领取</span>
                        <span class="date">{{ receiver.fillinDate | date:'MM-dd HH:mm'}}</span>
                    </li>
                </ul>
            </div>
            
		    <div class="icon-hrer">
		        <icon-href theme="white"></icon-href>
		    </div>
        </div>
    </div> -->

    <!-- 【送礼人】:打开链接，已经送光了   
    <div class="open-link-end" ng-if="(orderStatus == 100) || (orderStatus == 110)">
        <div class="container-status">
        	
            <img class="icon-img" src="https://img.91pintuan.com/songli/i.png" />
        	
            <div class="head-center">
                <img ng-src="{{order.sender.info.headimgurl}}" /><br/>
                <span>{{order.sender.info.nickname}}的礼物</span>
            </div>
            
            <div class="head-main head-title-green">
            	<p class="left-count">
            		礼物已被抢完
            	</p>
                <p class="head-send-status">
                    {{orderReserved}}人已领取
                </p>
            </div>
        	
            <div class="content">
            	<p class="receive-present-text">
            		你已成功领取{{order.sender.info.nickname}}的礼物，等待商家发货吧。不要忘了除了礼物{{order.sender.info.nickname}}还对你说了一段话，收到礼物时扫描语音码，听听ta都说了些什么吧。
        		</p>
        		<a ui-sref="gift.detail({id: order.gift.id})" class="button button-success">我也要送礼</a>
            </div> 
            
        </div>
        
        <div ng-if="order.receivers && order.receivers.length" class="interact">
            <p>{{ order.receivers.length }}人已领取</p>
            <ul>
                <li ng-repeat="receiver in order.receivers">
                    <img ng-src="{{receiver.headimgurl}}"/>
                    <span class="receiver-name">{{ receiver.name || receiver.consignee }}</span>
                    <span class="font"> 已领取</span>
                    <span class="date">{{ receiver.fillinDate | date:'MM-dd HH:mm'}}</span>
                </li>
            </ul>
        </div>
        
	    <div class="icon-hrer">
	        <icon-href theme="white"></icon-href>
	    </div>
    </div> -->


    <!-- 【收礼人】:还没有收礼，但是礼物已经没有了  
    <div class="open-link-end" ng-if="orderStatus == 0">
        <div class="container-status">
        	
            <img class="icon-img" src="https://img.91pintuan.com/songli/i.png" />
        	
            <div class="head-center">
                <img ng-src="{{order.sender.info.headimgurl}}" /><br/>
                <span>{{order.sender.info.nickname}}的礼物</span>
            </div>
            
            <div class="head-main head-title-green">
            	<p class="left-count">
            		手慢了，礼物已被抢完
            	</p>
                <p class="head-send-status">
                    {{orderReserved}}人已领取
                </p>
            </div>
        	
            <div class="content">
            	<p class="receive-present-text">
            		你的朋友{{order.sender.info.nickname}}为你准备了一份礼物，并对你说了一段话。数量有限赶快领取！收到礼物时扫描语音二维码听听{{order.sender.info.nickname}}说了些什么吧
        		</p>
        		<a ui-sref="gift.detail({id: order.gift.id})" class="button button-success">我也要送礼</a>
            </div> 
            
        </div>
        
        <div ng-if="order.receivers && order.receivers.length" class="interact">
            <p>{{ order.receivers.length }}人已领取</p>
            <ul>
                <li ng-repeat="receiver in order.receivers">
                    <img ng-src="{{receiver.headimgurl}}"/>
                    <span class="receiver-name">{{ receiver.name || receiver.consignee }} </span>
                    <span class="font"> 已领取</span>
                    <span class="date">{{ receiver.fillinDate | date:'MM-dd HH:mm'}}</span>
                </li>
            </ul>
        </div>
        
	    <div class="icon-hrer">
	        <icon-href theme="white"></icon-href>
	    </div>
    </div>
    -->
</div>
