<div class="container-status pre-receive">
	<!--icon.logo.right-->
	<img class="icon-img" src="https://img.91pintuan.com/songli/i.png" />
	<div class="greyBox"></div>
	<!--送礼人头像-->
	<div class="head-center">
		<img ng-src="{{order.sender.info.headimgurl}}" />
	</div>
	<div class="blackBox"></div>
	<div class="pre-main">
	  <div class="head-sender">
      <span>{{order.sender.info.nickname}}送给你一份礼物</span>
    </div>
    <!--礼物领取过程-->
    <!--单人-->
    <div class="head-prompt" ng-if="order.capacity === 1">
      <span>请尽快领取</span> <br />
      <span ng-if="order.gift.scene === 'poi'">领取后到店使用</span>
      <span ng-if="order.gift.scene === 'logistics'">领取后将快递配送</p>
    </div>
    <!--多人-->
    <div ng-if="order.capacity > 1" class="head-main head-title-green">
      <p class="left-count">还有{{orderSurplus}}份 </p>
      <p class="head-send-status">{{orderReserved}}人已领取</p>
    </div>
    <!--礼物说明-->
    <div class="head-content">
      <p class="receive-present-text">你的朋友{{order.sender.info.nickname}}为你准备了一份礼物：{{order.gift.info.name}}。并对你说了一段话，赶快领取吧！</p>
      <a href="#" class="button btn-bg btn-fill" ng-click="fill()">领取礼物</a>
      <span class="receive-more-poi" ng-if="order.capacity > 1 && order.gift.scene === 'poi'  ">领取后到店使用</span>
    </div>
	</div>

	<!--底标-->
	<div class="icon-hrer">
		<icon-href theme="white"></icon-href>
	</div>
</div>