//边框线条
.sound-record {
    border: red solid;
    min-height: 90%;
    border-image: url('https://img.91pintuan.com/songli/border.png') 17 17 repeat;
}
/*progress bar*/
.progress {
    width: 100%;
    height: 36px;
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #DCDDDD), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(90deg, #DCDDDD 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(90deg, #DCDDDD 50%, transparent 50%, transparent);
    background-image: linear-gradient(90deg, #DCDDDD 50%, transparent 50%, transparent);
}
.progress-active {
    height: 36px;
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #ECA1A9), color-stop(.6, transparent), to(transparent));
    background-image: -moz-linear-gradient(90deg, #ECA1A9 60%, transparent 60%, transparent);
    background-image: -o-linear-gradient(90deg, #ECA1A9 60%, transparent 60%, transparent);
    background-image: linear-gradient(90deg, #ECA1A9 60%, transparent 60%, transparent);
}
.progress,
.progress-active {
    height: 42px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input{
    -webkit-appearance:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
// [--送一人--]
.sound-one{margin: -69px -4px;background: #F7F7F7;}
.to-who {
    padding: 64px 5% 20px 5%;
    background-color: #FFFFFF;
}
.to-who img {height: 18px;}
.to-more{padding: 64px 0 20px 0;}
.to-more .img{padding-left: 20px;}
.input-one{
    border-radius: 0 !important;
}
.input-msg {
    height: 45px;
//  background-image: url(../images/input-box.png);
//  -webkit-background-size: 100% 100%;
//  background-size: 100% 100%;
    border: 2px dotted #CCCCCC;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    display: block;
}
.input-msg1{
    border: 1px solid #E5E6E6 !important;
    font-size: 13px !important;
}
// [-- 送多人 --]
.sound-more{margin: -69px -5px;background: #F7F7F7;}
.to-who-count {
    background-color: #F7F8F8;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 6px;
    height: 75px;
}
.to-who-count input{
    text-align: center;
    -webkit-appearance:none;
    -webkit-tap-highlight-color:#FFFFFF;
}
.to-who-count .input-group .form-control{
    width: auto;
    padding: 0;
    border-radius: 4px !important;
    box-shadow: none !important; 
    border: 1px solid #C6CAD5;
    height: 33px;
    background: #F7F8F8;
    width: 100%;
    font-size: 16px;
}
.to-who-count .btn-success{border-radius: 4px !important;}
.to-who-count .btn{
    font-size: 20px;
    font-weight: bolder !important; 
    border: 0;
    background: #8FC31F;
    color: #FFFFFF;
}
.input-group {
    padding-top: 20px;
    height: 35px;
    margin: 0 auto;
    width: 100%;
}
.input-left{
    float: left;
    width: 25%;
}
.input-middle{
    float: left;
    width: 50%;
}
.input-right{
    float: left;
    width: 25%;
}
.input-left .btn,.input-right .btn {
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 30px;
}

.btn-left span,.btn-right span{display: block;height: 30px;}
.input-group-btn{font-weight: bolder !important; }
//  按钮按下的状态
.btn-success:hover, 
.btn-success:focus, .btn-success.focus, 
.btn-success:active, .btn-success.active, 
.open>.dropdown-toggle.btn-success{
    color: #FFFFFF !important;
    background: #89AF1E !important;
    border-color: #89AF1E !important;
}


//[单人] - [多人] -- 录音页面
.voice-box {
    padding: 14px 5% 45px 5%;
    background: #F7F7F7;
}
.voice-process img {
    height: 20px;
    margin-bottom: 6px;
    margin-top: 10px;
}
.progress-active,.progress {
    height: 42px !important;
}
.voice-process .label {
    color: #B5B5B5;
    font-size: 18px;
    font-weight: normal;
}
#record-before {
    text-align: center;
    margin-top: 30px;
}
#record-before img {width: 30%;}
#record-after {margin-top: 30px;}
.left-button {
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    width: 24%;
}
.left-button img,
.right-button img {
    width: 100%;
}
.right-button {
    float: right;
    margin-top: -14px;
    text-align: center;
    display: inline-block;
    width: 30%;
}
.hint {
    display: inline;
    font-size: 12px;
    color: #DCDDDD;
}
