<!-- 单人订单 -->
<div class="present-sent-detail" ng-show="order.capacity == 1">
    <div class="card-group">
        <div class="card detail-title">
            <img ng-src="{{'http://' + apiCfg.imgUri + order.gift.info.cover}}" class="od-trade-img" ng-if="order.gift.info.cover">
            <img src="assets/v2/images/present_sent_demo.png" class="od-trade-img" ng-if="!order.gift.info.cover" />
            <div class="detail-title-content">
                <p>{{order.gift.info.name}}
                    <br>{{order.gift.info.price}}元/份</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <ul class="card detail-content">
            <li>
                <span class="name">数&emsp;&emsp;量:</span>
                <p class="value">1份</p>
            </li>
            <li>
                <span class="name">总&emsp;&emsp;价:</span>
                <p class="value"><b style="font-size:20px;">{{order.gift.info.price * order.capacity}}</b>元</p>
            </li>
            <li>
                <span class="name">下单时间:</span>
                <p class="value">{{order.time.add | date:'yyyy-MM-dd HH:MM:ss'}}</p>
            </li>
            <li ng-if="order.express">
                <span class="name">快递单号:</span>
                <p class="value" style="font-size:16px;color:#8FC31F" ng-bind="order.receivers[0].express.no"></p>
            </li>
        </ul>
    </div>
    <!-- #TODO leave order stauts to https://github.com/arrking/songni/issues/74 -->
    <div class="card-group">
        <ul class="card detail-status">
            <li>
                <span class="name">礼物状态</span>
                <p> </p>
            </li>
            <li ng-if="receiver.status.read">
                <span class="name">{{receiver.status.read_date | date:'yyyy-MM-dd HH:MM:ss'}}</span>
                <p class="status-listen">已收听&emsp;</p>
            </li>
            <li ng-if="receiver.status.shipping">
                <span class="name">{{receiver.status.shipping_date | date:'yyyy-MM-dd HH:MM:ss'}}</span>
                <p class="status-deliver">已发货&emsp;</p>
            </li>
        </ul>
        <div style="height:50px;"></div>
    </div>
</div>
<!-- 多人订单 -->
<div class="present-sent-detail" ng-show="order.capacity > 1">
    <div class="card-group">
        <div class="card detail-title">
            <img ng-src="{{'http://' + apiCfg.imgUri + order.gift.info.cover}}" class="od-trade-img" ng-if="order.gift.info.cover">
            <img src="assets/v2/images/present_sent_demo.png" class="od-trade-img" ng-if="!order.gift.info.cover" />
            <div class="detail-title-content">
                <p>{{order.gift.info.name}}
                    <br>{{order.gift.info.price}}元/份</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <ul class="card detail-content">
            <li>
                <span class="name">数&emsp;&emsp;量:</span>
                <p class="value">{{order.capacity}}份</p>
            </li>
            <li>
                <span class="name">总&emsp;&emsp;价:</span>
                <p class="value"><b style="font-size:20px;">{{order.gift.info.price * order.capacity}}</b>元</p>
            </li>
            <li>
                <span class="name">下单时间:</span>
                <p class="value">{{order.time.add | date:'yyyy-MM-dd HH:MM:ss'}}</p>
            </li>
        </ul>
    </div>
    <div class="card-group">
        <!-- #TODO leave order stauts to https://github.com/arrking/songni/issues/74 -->
        <ul class="card detail-status">
            <li>
                <span class="name">礼物状态:</span>
            </li>
            <li>
                <div class="card-well trade-status-yellow" ng-click="listened()">
                    {{listen_num}} 人已收听<span>&gt;</span>
                </div>
            </li>
            <li>
                <div class="card-well trade-status" ng-click="shipped()">
                    {{ship_num}} 人已领取，未发货<span>&gt;</span>
                </div>
            </li>
            <li>
                <div class="card-well trade-status-green" ng-click="received()">
                    {{receive_num}} 人已领取礼物<span>&gt;</span>
                </div>
            </li>
        </ul>
    </div>
</div>
