<!-- 送礼人订单 -->
<div class="pay-success-several send-many">
  <img class="icon-img" src="https://img.91pintuan.com/songli/i.png" />
  <div class="greyBox"></div>
  <div class="head-center">
    <img ng-src="{{order.sender.info.headimgurl}}" />
  </div>
  <div class="blackBox"></div>
  <div class="pre-main">
    <div class="head-sender">
      <span>{{order.sender.info.nickname}}的礼物</span><br />
    </div>
    <div class="head-main">
      <!--礼物已备好-->
      <div ng-if="!order.receivers || !order.receivers.length">
        <span class="pre-comm">{{order.capacity}}份礼物已备好</span><br />
        <span class="pre-green">开始送礼吧</span>
      </div>
      <!--礼物领取中-->
      <div ng-if="order.receivers && order.receivers.length && order.receivers.length != order.capacity">
        <span class="pre-comm">还有{{ order.capacity - order.receivers.length }}份</span><br />
        <span class="pre-green">{{ order.receivers.length }}人已领取</span>
      </div>
      <!--礼物已经被抢完-->
      <div ng-if="order.receivers && order.receivers.length && order.receivers.length === order.capacity">
        <span class="pre-comm">礼物已被抢完</span><br />
        <span class="pre-green">{{ order.receivers.length }}人已领取</span>
      </div>
    </div>
    <!--礼物说明-->
    <div class="head-content">
      <p class="receive-present-text">您已成功购买{{order.capacity}}份{{order.gift.info.name}},发至到微信好友/微信群或朋友圈,开始送礼吧！</p>
      <!--礼物领取中-->
      <a href="#" id="start-send-present" 
        ng-if=" !order.receivers || !order.receivers.length || (order.receivers.length && order.receivers.length !== order.capacity) "
        ng-click="share()" 
        ng-class="{'btn-no' :order.receivers.length === order.capacity}"
        class="button btn-bg btn-fill">
          {{ order.receivers && order.receivers.length ? '继续送礼' : '开始送礼' }}
      </a>
      <!--礼物被抢完时-->
      <a ui-sref="gift.list"
        ng-if=" order.receivers && order.receivers.length && order.receivers.length === order.capacity "
        class="button btn-bg btn-fill button-yellow">
                  继续送礼
      </a>
    </div>
  </div>
  <!--interact-->
  <order-interact
      order="order">
  </order-interact>
  <!--底标-->
  <div class="icon-hrer">
  	<div ng-if="!order.receivers || !order.receivers.length" class="icon-height"></div>
    <icon-href theme="white"></icon-href>
  </div>
</div>
