.send-many{
  background: #F7F7F7;
  border-radius: 4px;
  padding-bottom: 5px;
  .pre-main{
    text-align: center;
    .head-main{
      padding: 20px 0 30px 0;
      .pre-comm{
        color: #231815;
        font-size: 23px;
      }
      .pre-green{
        color: #F89775;
      }
    }

  }
}
