<div class="present-lists" 
  infinite-scroll='gifts.nextPage()' 
  infinite-scroll-disabled='gifts.busy' 
  infinite-scroll-distance='1'
  >
  <div class="present-warp">
    <div class="present" 
      ng-repeat="gift in gifts.items" 
      ng-click="link()"
      style="width: {{ clientWidth/2 -16 }}px;"
      >
      <div class="present-img" style="width: {{ clientWidth/2 -16 }}px; height: {{ clientWidth/2 -16}}px;" >
        <img 
          ng-src="{{'http://' + apiCfg.phtUri + gift.info.cover}}" 
          ng-if="gift.info.cover"
          style="width: {{ clientWidth/2 -16 }}px; height: {{ clientWidth/2  -16}}px;"
        >
        <img 
          ng-src="https://img.91pintuan.com/songli/rose_demo.png" 
          ng-if="!gift.info.cover"
          style="width: {{ clientWidth/2 -16 }}px; height: {{ clientWidth/2  -16}}px;"
        >
      </div>
      <div class="gift-info-name">
        <span ng-bind="gift.info.name"></span>
      </div>
      <div class="gift-info-price">
        <span>{{gift.info.price | currency}}</span>
      </div>
    </div>
  </div>
</div>
