<div ui-view="">
    <div class="present-detail" >
        <div class="present-detail-img">
            <img ng-src="{{'http://' + apiCfg.phtUri + gift.info.cover}}" ng-if="gift.info.cover">
            <img ng-src="https://img.91pintuan.com/songli/icon-herf/present_sent_demo.png" ng-if="!gift.info.cover">
        </div>
        <div class="present-group">
            <div class="present-detail-summary">
                <p class="name" ng-bind="gift.info.name"></p>
                <p class="lead" ng-bind="gift.info.lead"></p>
                <div class="separate-box present-summary-bottom">
                    <div class="separate-left">
                        <span>{{gift.info.price | currency}}</span>
                    </div>
                    <div class="separate-right trade-status-green">
                        已送出 <span ng-bind="gift.num.subpay">0</span>份
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="height-50"></div>
        <div class="gift-detail">
            <hr>
            <img class="title-img" src="https://img.91pintuan.com/songli/word_gift_detail.png" />
            <hr class="hr">
            <div ng-bind-html="trustAsHtml(gift.info.detail)"></div>
        </div>
        <div class="height-60"></div>
        <icon-href theme="grey"></icon-href>
        <div class="height-60"></div>
    </div>
    
    <div class="bottom-btn double-col btn-left">
        <a ng-if="gift.num.stock != 0 && ((gift.num.stock - gift.num.subpay) <= 0)" class="button btn-ml" ng-disabled="true">已售罄</a>
        <!-- type=1代表一送一 -->
        <a ng-if="!gift.num.stock || ((gift.num.stock - gift.num.subpay) > 0)" class="button btn-one" ui-sref="gift.detail.one2one-record({id:gift.id})">送一人</a>
        <!-- type=2代表一送多 -->
        <a ng-if="!gift.num.stock || ((gift.num.stock - gift.num.subpay) > 0)" class="button btn-more" ui-sref="gift.detail.one2many-record({id:gift.id})">送多人</a>
    </div>
</div>
