/*礼物列表*/
.present-lists{
  margin: -100px -28px 0 -28px;
}
.present-warp{
  width: 100%;
  min-height: 500px;
  background: #f2f2f2;
}
.present{
  background: #FFFFFF;
  border-bottom: 10px solid #f2f2f2;
}
.present:nth-child(1),
.present:nth-child(2){
  margin-top: 22px;
}
.present:nth-child(odd){
  float: left;
  margin-left: 15px;
}
.present:nth-child(even){
  float: right;
  margin-right: 15px;
}
.present-img img {  
  display: block;
  object-fit: cover
}
.gift-info-name{
  height: 42.4px;
  font-size: 12px;
  line-height: 14px;
  color: #40220F;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
}
.gift-info-price{
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 15px;
  color: #F05B47;
  font-size: 15px;
}
