.gift-share{
  margin-top: 0;
  background: #F05B47;
  .imgBackground{
    img{width: 100%;}
  }
  .show-head{
    background: #FFFFFF;
    text-align: center;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 4px 4px 0 0;
    .gift-img{
      width: 169px;
      height: 167px;
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      margin-top: -80px;
    }
    .gift-name{
      width: 225px;
      color: #B8B8B9;
      display: block;
      font-size: 14px;
      margin: 0 auto;
      margin-top: 15px;
    } 
  }
  .show-box{
    background-color:#FFFFFF;
    margin-left: -5px;
    margin-right: -5px;
    padding:5px;
    text-align:center;
    margin-top: -1px;
    margin-bottom: -1px;
    .white-box{
//    margin-top: 15px;
      background-color: #FFF;
      color:#373535;
      font-size:14px;
      height: 40px;
      .center{
        height: 17px;
        margin: 0 auto;
        line-height: 20px;
        padding-left: 40px;
        padding-top: 12px;
        .box-img{
          width: 13px;
          display: block;
          float: left;
          margin-right: 5px;
          img{
            width: 100%;
            height: 100%;
            vertical-align: top;
          }
        }
        .box-title{
          float: left;
          color: #F89775;
        }
      }
    }
    // 跑马灯
    .marquee{
      height:160px;
      overflow: hidden;
      margin: 0 20px;
      margin-top: 5px;
      background: #F7F8F8;
      .scroll-box{
        list-style-type: none;
        padding-left:4px;
        text-align:left;
        margin-left:10px;
        position: relative;
        top: 0;
        li{
          line-height:40px;
          padding-left: 10px;
        }
        img{
          width:25px;
          border-radius: 100%;
          vertical-align:middle;
        }
        span{
          font-size:14px;
          margin-left:10px;
          color:#7C7C7C;
        }
      }
    }
  }
  .btn-send{
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 0 0 4px 4px;
    background: #FFFFFF;
    margin-left: -5px;
    margin-right: -5px;
    text-align: center;
    .btn{
      width: 45%;
      height: 45px;
      background: #F05B47;
      border-radius: 45px;
    }
  }
}
@media screen and (min-width: 319px) and (max-width: 374px){
  .white-box{
    .box-r{font-size: 14px !important;}
  }
}