.card-group{background-color: #FFFFFF;margin: 0 -3%;}
.card{padding:0 10px;}
.clear{clear:both}
ul{list-style: none;}
a,a:hover{text-decoration: none;}
/*礼物列表*/
.listgift{margin: -100px -20px -10px -20px !important;background: #FFFFFF;}
.secondpage{margin: -85px -18px -90px -18px;}
.box-second{height: 20px;background: #F2F2F2;}
.present{margin-top: 20px;}
.present a{text-decoration: none;}
.present-img {  background-color: #FFFFFF;padding: 6px;}
.present-img img {  width: 100%;  display: block;}
.present-summary{opacity: 0.6;height:12px;padding:17px;background-color: black;z-index:10;}
.present-summary-name{color:#FFFFFF;font-size: 15px;font-weight: bold;}
.present-summary-price{float:right;color:#FFFFFF;font-size: 20px !important;}
/*我送出的礼物---列表---*/
    /*头部*/
.trade-group{background: #FFFFFF;border-bottom: 8px solid #F2F2F2;margin-top: -15px;}
.order-header{height: 80px;border-bottom: 1px solid #F2F2F2;}
.order-header .header-left{width: 23%;height: 65px;float: left;margin-top: 7px;}
.order-header .header-left img{width: 65px;height: 65px;}
.order-header .header-right{width: 77%;height: 65px;float: left;margin-top: 7px;}
.order-header .header-right span{color: #231815;padding-left: 8px;padding-top: 5px;display: block;}
    /*列表*/
.order-content{font-size: 14px;margin-top: -15px;}
.order-content .orderlist{padding: 0;}
.order-content .orderlist .list-li{padding-top: 17px;padding-left: 5px;}
.order-content .orderlist li:last-child{padding-bottom: 20px;border-bottom: 1px solid #F1F1F1;}
.order-content .orderlist .listname{display: block;float: left;width: 23%;color: #B5B5B6;}
.order-content .orderlist .listnum{display: block;float: left;width: 70%;color: #898989;}
.order-content .orderlist .num{color: #B5B5B6;}
.order-code{padding-bottom: 21px;padding-left: 5px;}
.order-code .code{color: #8FC31F;width: 93%;display: block;float: left;font-size: 14px;}
/*我送出的礼物---详情---*/
    /*头部*/
.present-sent-detail{margin-top:10px;}
.detail-title{height: 80px;margin-top: 15px;}
.detail-title-img{width: 22%;height: 65px;float: left;margin-top: 7px;}
.detail-title-img img{width: 65px;height: 65px;padding-left: 16px;}
.detail-title-content{width: 78%;height: 65px;float: left;margin-top: 7px;}
.detail-title-content .giftname{padding-left: 15px;margin-top: 6px;line-height: 20px;font-size: 15px;color: #9E9E9E;}
.box-list{height: 10px;background: #F2F2F2;}
    /*内容*/
.card-group2{background: #FFFFFF;padding-bottom: 17px;margin-bottom: 5px;}
.detail-content,.detail-status{margin-top: 0px;margin-bottom: 0px;}
.detail-content{font-size: 14px;}
.detail-content .card-li{padding-top: 17px;padding-left: 5px;}
.detail-content .listInfo{display: block;float: left;width: 23%;color: #B5B5B6;}
.detail-content .listorder{display: block;float: left;width: 70%;color: #231815;}
.detail-content .listorder2{padding-left: 9px;}
    /*礼物状态*/
.card-group3{background: #FFFFFF;font-size: 14px;border-top: 5px solid #F2F2F2;}
.card-group3 .state{display: block;width: 100%;height: 43px;font-size: 14px;color: #B5B5B6;padding-top: 23px;border-bottom: 1px solid #EFEFEF;}
.card-group3 .detail-status{padding-left: 10px;padding-right: 2px;}
.card-group3 .detail-status li:last-child{border: none;}
.card-group3 .receiver {height: 50px;line-height: 50px;color: #231815;border-bottom: 1px solid #EFEFEF;}
.card-group3 .status{float: right;padding-right: 15px;}
.card-group3 .status-listen{color: #F39800;}
.card-group3 .status-deliver{color: #8FC31F;}
.trade-status-green{color:#9FCB48;}
.trade-status-yellow{color:#F39800;}
.spanimg{width: 7px;padding-left: 10px;}
.trade-time{float: left;}
.trade-num{float: right;padding-right: 15px;}
    /*二级页面*/
.card-received{border-bottom: 1px solid #F4F4F4;padding-top: 10px;padding-bottom: 5px;}
.card-ship{padding-top: 10px;padding-bottom: 5px;border-bottom: 5px solid #F0EEF7;}
.express{padding-top: 20px;padding-bottom: 10px;margin-top: 5px;border-top: 1px solid #F4F4F4;}
.express .span1{color: #B5B5B6;font-size: 14px;}
.express .span2{color: #2F2522;font-size: 14px;display: block;float: right;}