.alert{
  position: fixed;
  right: 0;
  left: 0;
  top:0;
  bottom: 0;
  z-index: 1030;
  border-radius:0;
  padding:10px;
  margin:0;
  text-align:center;
  opacity:0.9;
  border:0;
}
.close{
  opacity:inherit;
}
.alert-dismissable .close{
  top:inherit;
  right:inherit;
  color:#FFFFFF;
}
.alert-danger{
  color:#FFFFFF;
}

.pt-alert div {
    display: block;
    background: rgba(0,0,0,.7);
    margin: 0 auto;
    width: 160px;
    height: 135px;
    margin-top: 155px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.pt-alert span{
    display: block;
    padding-top: 60px;
}
.pt-alert .close{display: none;}
