<div class="sound-record" ng-style="{height:innerHeight-54+'px'}">
    <div class="to-who">
        <img src="assets/v2/images/gift_copies.png" />
        <br>
        <div class="to-who-count">
            <div class="input-group">
                <span class="input-group-btn">
              <button type="button" ng-click="reduCapacity()" class="btn btn-success btn-number" >
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                </span>
                <input type="number" ng-model="giftOrderCapacity" pattern="\d*" class="form-control input-number" style="text-align: center;border-bottom: 1px dashed #8FC31F;border-top: 1px dashed #8FC31F;" placeholder="2 份" min="2">
                <span class="input-group-btn">
              <button type="button" ng-click="incrCapacity()" class="btn btn-success btn-number" data-type="plus" >
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                </span>
            </div>
        </div>
    </div>
    <div class="voice-box">
        <div class="voice-process">
            <img src="assets/v2/images/blessing.png" />
            <timer interval="1000" countdown="60" autostart="false">
                <div class="progress">
                    <div class="progress-active" id="pro" aria-valuenow="{{countdown}}" aria-valuemin="0" aria-valuemax="60" style="width: {{progressBar?progressBar:0}}%;">
                    </div>
                </div>
                <span class="label" id="second" style="text-align:right; display: block">{{countdown === 60?'&nbsp;':(60-countdown)+'S'}}</span>
            </timer>
        </div>
        <!-- 开始录音 -->
        <div id="record-before" ng-if="status.stop">
            <img src="assets/v2/images/record.png" ng-click="record()" />
            <br>
            <span class="hint">点击开始录音</span>
        </div>
        <!-- 结束录音 -->
        <div id="record-before" ng-if="status.start">
            <img src="assets/v2/images/re_stop.png" ng-click="stop()" />
            <br>
            <span class="hint">结束录音</span>
        </div>
        <!-- 调试录音 -->
        <div id="record-after" ng-if="status.record">
            <div class="left-button" ng-click="playVoice()">
                <img src="assets/v2/images/play_red.png" />
                <br>
                <label class="hint">播放</label>
            </div>
            <div class="left-button" ng-click="rerecord()">
                <img src="assets/v2/images/re_record.png" />
                <br>
                <label class="hint">重录</label>
            </div>
            <div class="right-button" ng-click="save()">
                <img src="assets/v2/images/next_step.png" />
                <br>
                <label class="hint">下一步</label>
            </div>
        </div>
    </div>
</div>
